/* General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}


/* Header*/
header {
    
    background-color: #add8e6;
    padding: 15px 200px;

}

.Flex-Container-1 {

    background-color: #daa520;
    border: 2px dashed black;
    display: flex;
    justify-content: space-between;
 
}

.Flex-Item-1 {

    padding: 10px;

}

.First-1 {
    border-left: 3px;
    border-right: 3px;
    border-bottom: 0px;
    border-top: 0px;
    border-color: black;
    border-style: dashed;
    width: 66%;
    text-align: center;
}
/* /Header*/


/* Main*/

/* Sezione 1*/
.Flex-Container-2 {
    background-color: #00008b;
    padding: 50px 250px;
    
}

.Flex-Item-2 {
    background-color: #ee82ee;
    border: 2px dashed black;
    display: flex;
    padding-bottom: 300px;
    
}
/* /Sezione 1*/


/* Sezione 2*/
.Flex-Container-3 {
    background-color: #ffffff;
    padding: 50px 150px;
    display: flex;

}

.Flex-Item-3 {
    background-color: #1e90ff;
    border: 2px dashed black;
    width: 66%;
    height: 200px;
    justify-content: center;
    padding-bottom: 400px;
    
}.Flex-Item-3-1 {
    background-color: #ffc0cb;
    border: 2px dashed black;
    width: 34%;
    height: 200px;
    justify-content: center;
    padding-bottom: 400px;
    
}
/* /Sezione 2*/

/* Sezione 3*/
.Flex-Container-4 {
    background-color: #d3d3d3;
    padding: 50px 150px;
    display: flex;
    flex-direction: row-reverse;

}

.Flex-Item-4 {
    background-color: #1e90ff;
    border: 2px dashed black;
    width: 66%;
    height: 200px;
    justify-content: center;
    padding-bottom: 400px;
    
}.Flex-Item-4-1 {
    background-color: #ffc0cb;
    border: 2px dashed black;
    width: 34%;
    height: 200px;
    justify-content: center;
    padding-bottom: 400px;
    
}
/* /Sezione 3*/


/* Sezione 5*/

.Flex-Container-5 {

    background-color: #d3d3d3;
    padding: 50px 150px;
    display: flex;
    
}

.Flex-Item-5 {
    background-color: #228b22;
    border: 2px dashed black;
    display: flex;
    width: 100%;
    padding-bottom: 700px;
    
}
/* /Sezione 5*/


/* /Sezione 6*/

.Flex-Container-6 {
    background-color: #23272a;
    padding: 10px 150px 40px;
    display: flex;
}

.Flex-Item-6 {
    background-color: #f08080;
    border: 2px dashed black;
    width: 30%;
    height: 200px;
    justify-content: center;
    padding-bottom: 400px;
}

.Flex-Item-6-1 {
    background-color: #20b2aa;
    border: 2px dashed black;
    display: flex;
    width: 70%;
    height: 200px;
    justify-content: center;
    padding-bottom: 400px;
}

.Flex-Item-6-1 .A {
    border: 2px dashed white;
}
/* /Sezione 6*/

